<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies App</title>
</head>
<body>
    <h1>Welcome to the Movies Library!</h1>
    <p>An app for your favorite Movies.</p>
</body>
</html>