<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Index Page</title>
</head>

<body>
    <h1><%= message %> - All Movies</h1>
    <ul>
    <% movies.forEach(movie => { %>
        <li><a href="/movies/<%= movie._id %>"><%= movie.name %></a></li>
      <% }); %>
    </ul>

    <a href="/">Go Back to Homepage</a> | <a href="/movies/new">Add new movie</a>
</body>
</html>